@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  background: hsl(217, 54%, 11%);
  box-sizing: border-box;
}

.main-container {
  margin: 152px auto;
  width: 350px;
  height: 596px;
  background: hsl(216, 50%, 16%);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
}

.img-container {
  display: inline-block;
  margin: 24px 24px;
}

.title-section {
    font-family: 'Outfit',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    margin-left: 24px;
    line-height: 28px;
    width: 302px;
}

.desc-section{
    margin-left: 24px;
    margin-top: 16px;
    width: 302px;
    font-family: 'Outfit',sans-serif;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.price-time-section{
    display: flex;
    width: 301px;
    margin-left: 24px;
    margin-top: 24px;
    justify-content: space-between;
}

.price-section,.time-section{
  display: flex;
  
}

.price-section .price-image-section img{
    width: 11px;
  
}

.price-section .price-text-section{
  padding-left: 10px;
  font-family: 'Outfit',sans-serif;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.time-section .time-image-section img{
    width: 18px;
}

.time-section .time-text-section{
  padding-left: 7px;
  font-family: 'Outfit',sans-serif;
  font-weight: 400;
  color: hsl(215, 51%, 70%);
  
}

.line-component{
  background: hsl(215, 32%, 27%);
  height:1px;
  margin-top: 24px;
  width: 302px;
  margin-left: auto;
  margin-right: auto;
}


.owner-description{
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit',sans-serif;
  font-weight: 400;

}

.owner-image-description{
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-left: 24px;
    margin-top: 41px; /*Temporary*/
}

span{
  color: hsl(215, 51%, 70%);
}

.img-container img {
  width: 302px;
  border-radius: 8px;
}




.owner-image-description .owner-image img {
  width: 33px;
}


